A11_MEMORY_DB=a11_memory
A11_MEMORY_USER=a11
A11_MEMORY_PASSWORD=a11_memory_local_change_me
A11_MEMORY_PORT=5437

A11_MEMORY_DATABASE_URL=postgres://a11:a11_memory_local_change_me@127.0.0.1:5437/a11_memory
