fairseq==0.12.2
faiss_cpu==1.7.4
librosa==0.10.0
numpy==1.22.0
praat-parselmouth
pyworld==0.3.4
requests==2.33.0
scipy==1.11.4
torchcrepe==0.0.22
TTS==0.21.1
transformers==5.0.0rc3
tokenizers==0.15.2
huggingface-hub<1.0
fastapi==0.104.1
starlette==0.49.1
anyio==3.7.1
pydantic==2.5.3
pydantic-core==2.14.6
uvicorn==0.24.0.post1
python-multipart==0.0.29
